.container {
  width: 60%;
  height: 100%;
}

.boxes {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.buttonBox {
  width: 95%;
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
