.container {
  width: 40%;
  height: 100%;
  padding: 8px;
  outline: none;
}

.container > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  outline: none;
}

.drag {
  width: 256px;
  height: 256px;
  fill: white;
  mask-image: url('../assets/drag.svg');
  background-color: #27A9F8;
  background-position: center;
  mask-position: left;
  mask-size: inherit;
  background-repeat: no-repeat;
  mask-repeat: no-repeat;
  outline: none;
  cursor: pointer;
}

.text {
  min-height: 10px;
}

.text::after {
  pointer-events: none;
  content: "\21B5";
  position: absolute;
  opacity: 0.3;
}
